<?php

namespace App\Mailer;

use Core\Mailer;

class {{mail}} extends Mailer
{
    /**
     * Send email
     */
    public function __construct()
    {
        $this->subject("Email Subject");
        $this->from(['sender email' => "sender fullname"]);
        $this->to(['receiver email' => "receiver fullname"]);
        $this->message("email message");
    }
}
